addict
aiohappyeyeballs
aiohttp
aiosignal
aliyun-python-sdk-core
aliyun-python-sdk-kms
antlr4-python3-runtime
async-timeout
attrs
audioread
certifi
cffi
charset-normalizer
coloredlogs
crcmod
cryptography
datasets
decorator
dill
editdistance
einops
filelock
flatbuffers
frozenlist
fsspec
funasr
gast
h5py
huggingface-hub
humanfriendly
hydra-core
idna
jaconv
jamo
jieba
Jinja2
jmespath
joblib
librosa
llvmlite
loguru
MarkupSafe
modelscope
more-itertools
mpmath
multidict
multiprocess
networkx
numba
numpy
omegaconf
onnxruntime
openai-whisper
opencv-python
oss2
packaging
pandas
pillow
platformdirs
pooch
propcache
protobuf
pyarrow
pycparser
pycryptodome
pydub
pynndescent
python-dateutil
pytz
PyYAML
regex
requests
resampy
rotary-embedding-torch
scikit-learn
scipy
sentencepiece
simplejson
six
sortedcontainers
soundfile
sympy
tensorboardX
threadpoolctl
tiktoken
tomli
torch==2.3.1
torch-complex
torchaudio==2.3.1
torchvision==0.18.1
tqdm
triton
typeguard==3.0.2
typing_extensions
umap-learn
urllib3
Wave
xxhash
yapf
yarl